body{
    background-color: black;
}
p{
    color:rgb(236, 236, 236);
    size: 30px;
    
}

img{
    width: 250px;
    height: 250px;
    margin-right: 40%;
    
}
h2{
    background-color: yellow;
    padding: 0;
   margin-left: 90%;
   text-align: center;
   color: rgb(124, 0, 0);
}
ul{
    color: white;
    size: 20px;
}
.rt{
    
    color: white;
    margin-right: 50px;
}


